.container {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}

.content {
  display: flex;
  flex-direction: column;
  width: 75%;
}

.cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  width: 100%;
}

.recentNews {
  width: 20%;
  margin-left: 20px;
  background-color: white;
  padding: 20px;
  text-align: center;
  height: fit-content;
}

.recentNews h3 {
  margin: 0 0 15px;
  background-color: black;
  color: white;
  padding: 5px;
}

.recentNews ul {
  list-style: none;
  padding: 0;
}

.recentNews li {
  padding: 5px 0;
  margin-bottom: 20px;
}

.recentNews a {
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
}

.footer-links {
  display: flex;
  justify-content: space-between;
}

.footer-links a {
  color: white;
  margin-right: 10px;
}

.adminButtons {
  display: flex;
  gap: 10px;
}

.deleteButton,
.updateButton {
  padding: 8px 12px;
  border: none;
  cursor: pointer;
}

.deleteButton {
  background-color: red;
  color: white;
}

.updateButton {
  background-color: green;
  color: white;
}
