.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.bounce1,
.bounce2,
.bounce3 {
  width: 1.5rem;
  height: 1.5rem;
  background-color: #333;
  border-radius: 50%;
  animation: bounce 1.4s infinite ease-in-out;
  margin-left: 10px;
}

.bounce1 {
  animation-delay: -0.32s;
}

.bounce2 {
  animation-delay: -0.16s;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: scale(1);
  }
  40% {
    transform: scale(1.5);
  }
  60% {
    transform: scale(1.5);
  }
}
