.mapContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85%;
  height: 500px;
  margin: 0 auto;
  position: relative;
  direction: rtl;
}

.map {
  width: 100%;
  height: 100%;
  border: 2px solid #ccc;
  border-radius: 8px;
}

.mapButton {
  position: absolute;
  right: 120px; 
  bottom: 50px;
  background-color: black;
  color: white;
  border: none;
  padding: 20px;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.mapButton:hover {
  background-color: #333;
}
