.header {
  background-color: #fff;
  box-sizing: border-box;
  padding: 5px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.9);
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.logo {
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 10px;
  flex: 1;
}

.hamburger {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

.navLinks {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  flex: 1;
  justify-content: right;
}

.navLinks li {
  margin: 0 20px;
}

.navLinks a,
.login,
.signup,
.logout {
  text-decoration: none;
  color: #333;
}

.authLinks {
  display: flex;
  align-items: center;
}
.signup,
.logout {
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff !important;
  padding: 7px 15px;
  border-radius: 5px;
  margin: 0 20px;
}

.logout {
  padding: 10px 15px;
}
.notificationContainer {
  position: relative;
  display: inline-block;
}


.notification {
  font-size: 1.5rem;
  text-align: center;
  cursor: pointer;
  color: #555;
  margin-top: 8px;
}


.notificationDropdown {
  position: absolute;
  top: 158%;
  right: -100px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  max-height: 400px;
  overflow-y: auto;
  z-index: 1000;
  border-radius: 8px; 
  transition: all 0.3s ease;
}

.notificationDropdown::before {
  content: "";
  position: absolute;
  top: -10px;
  right: 35px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #fff transparent;
}

.notificationItem {
  padding: 12px;
  border-bottom: 1px solid #ddd;
  display: flex; 
  align-items: center;
  overflow: hidden;
  font-size: 14px;
  color: #333;
  transition: background-color 0.3s ease;
  position: relative; 
   padding: 10px;
  border-bottom: 1px solid #ddd;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2; 
}

.notificationItem::before {
  content: "•"; 
  color: rgba(0, 0, 0, 0.8);
  font-size: 1.5em; 
  margin-right: 10px;
}


.notificationItem:hover {
  background-color: #f1f1f1; 
}

.notificationItem:last-child {
  border-bottom: none;
}

.notificationBadge {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: #ff4c4c; 
  color: #fff;
  border-radius: 50%;
  padding: 3px 8px;
  font-size: 0.8rem;
}

.customScrollbar {
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #ccc #f5f5f5;
}

.customScrollbar::-webkit-scrollbar {
  width: 6px;
}

.customScrollbar::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 10px;
}

.customScrollbar::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .navLinks {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .navLinks.showMenu {
    display: flex;
  }

  .navLinks li {
    margin: 10px 0;
  }

  .authLinks {
    display: flex;
    justify-content: right;
    width: 100%;
    margin: 10px 0;
  }

  .authLinks a {
    margin: 0 15px;
  }

  .logo {
    display: none;
  }
}

.dashboard {
  text-decoration: none;
  color: black;
}


.userIconContainer {
  display: flex;
  align-items: center;
  margin-right: 20px; 
}

.userIcon {
  width: 40px; 
  height: 40px;
  border-radius: 50%; 
  background-color: white; 
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: bold;
  border: 2px solid rgba(0, 0, 0, 0.8); 
  cursor: pointer;
  margin-right: 10px; 
}

.adminIcon {
  border: none; 
  background-color: transparent; 
  color: rgba(0, 0, 0, 0.8); 
}

.adminLabel {
  color: rgba(0, 0, 0, 0.8); /* Black text with 0.8 opacity */
  font-weight: bold;
  font-size: 16px;
}
